<footer>
  <%- include('wave'); -%>
  <nav>
    <ul>
      <li><a href="/termsofusage">Terms of usage</a></li>
      <li><a href="/abouttheproject">About the project</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  Copyright © Jakub Marchut 2021 All Rights Reserved
</footer>
