<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Revolutionary tool which lengthens URLs, designed to cause shock and
slight concern to your friend and co-workers.">
  <meta name="author" content="Jakub Marchut, Kuba Marchut">
  <meta name="robots" content="all">
  <meta name="rating" content="general">
  <meta name="abuseipdb-verification" content="zMpe2y1h">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/animations.css" media="none" onload="if(media!='all')media='all'">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/icons/site.webmanifest">
  <noscript><link rel="stylesheet" href="/assets/css/animations.css"></noscript>
  <title>makelongurl - arguably the first and the best URL lengthening app</title>
</head>
<body>
  <section>
    <header>
      <a href="/" title="go to home page">
        <h2>makelongurl</h2>
      </a>
    </header>
    <img class="img_hero" src="/assets/img/url_icon.svg" alt="place for url icon">
    <div class="encourage">
      <h1>Long URLs, long lasting confusion v13:15-db composer</h1>
      <p>When you want to annoy your teacher, or maybe confuse a friend try this new revolutionary url lengthening tool</p>
    </div>
    <a class="cta-button" href="#form"  title="get to form">Start now!</a>
    <%- include('wave'); -%>
  </section>
  <section id="form">
	<img class="img_hero" src="/assets/img/fill_icon.svg" alt="place for fill icon">
	<h2>Just fill the form</h2>

    <form role="form" id="createUrlForm">
      <input type="text" id="destUrl" placeholder="put your url here" title="put your url here">
      <div class="lenPicker">
        <button type="button" data-action="rem" class="min" title="decrease desired length of url">
          <svg width="100%" height="100%" version="1.1" viewBox="0 0 26.458 26.458" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <path d="m5.0582 11.478c-0.46437 0-0.90973 0.18454-1.2381 0.51303-0.32836 0.32849-0.51283 0.77402-0.51283 1.2386 3e-7 0.46455 0.18447 0.91008 0.51283 1.2386 0.32836 0.32849 0.77371 0.51303 1.2381 0.51303 0.00221-3.3e-4 10.606 0 16.342 0 0.46437 0 0.90972-0.18454 1.2381-0.51303s0.51283-0.77402 0.51283-1.2386-0.18447-0.91008-0.51283-1.2386-0.77371-0.51303-1.2381-0.51303" stroke-width="0" style="paint-order:normal"/>
          </svg>
        </button>
        <input type="number" id="urlLength" placeholder="desired length" min=5 title="put desired length of url here">
        <button type="button" data-action="add" title="increase desired length of url">
          <svg width="100%" height="100%" version="1.1" viewBox="0 0 26.458 26.458" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <path d="m13.229 3.3073c-0.46437 0-0.90973 0.18454-1.2381 0.51303-0.32836 0.3285-0.51283 0.77402-0.51283 1.2386v3.9703c2e-6 0.65038-0.25826 1.2741-0.71796 1.734-0.45971 0.45989-1.0832 0.71825-1.7333 0.71825h-3.9687c-0.46437 0-0.90973 0.18454-1.2381 0.51303-0.32836 0.32849-0.51283 0.77402-0.51283 1.2386 3e-7 0.46455 0.18447 0.91008 0.51283 1.2386 0.32836 0.32849 0.77371 0.51303 1.2381 0.51303h3.9687c0.65012 0 1.2736 0.25836 1.7333 0.71825 0.45971 0.45988 0.71796 1.0836 0.71796 1.734v3.9703h4.55e-4c0.0023 0.96176 0.78277 1.7409 1.7464 1.7434v4.5e-4c0.46443 1e-3 0.91027-0.18204 1.2394-0.50909 0.32914-0.32704 0.51462-0.77121 0.51561-1.2348v-3.9703c-2e-6 -0.65038 0.25826-1.2741 0.71796-1.734 0.45971-0.45989 1.0832-0.71825 1.7333-0.71825h3.9688c0.46437 0 0.90972-0.18454 1.2381-0.51303s0.51283-0.77402 0.51283-1.2386-0.18447-0.91008-0.51283-1.2386-0.77371-0.51303-1.2381-0.51303h-3.9688c-0.65012 0-1.2736-0.25836-1.7333-0.71825-0.45971-0.45988-0.71796-1.0836-0.71796-1.734v-3.9703c2e-6 -0.46456-0.18447-0.91008-0.51283-1.2386-0.32836-0.3285-0.77372-0.51304-1.2381-0.51304" stroke-width="0" style="paint-order:normal"/>
          </svg>
        </button>
      </div>
      <input type="submit" value="Generate the url" title="Generate!">
    </form>
  </section>
  <%- include('footer'); -%>
  <div id="modal">
    <div class="bg"></div>
    <div class="content">
      <div class="page">
        <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
        <p class="calmer">Creating your custom link</p>
      </div>
      <div class="page">
        <button class="new-one" style="position: absolute;top: 10px;right: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
        <h1>Here's your <b>looonger</b> link</h1>
        <div class="resCp">
          <input type="text" readonly value="" title="here's created for you URL">
          <button title="copy url to clipboard"><img src="/assets/img/copy_icon.svg" alt="copy icon"></button>
        </div>
        <p>
          <button class="new-one" title="get next url">get another one!</button><br>
          thanks for visit 💖<br>
          can't wait to 👀 see you again
        </p>
      </div>
    </div>
  </div>
  <script src="/assets/js/frontend.js"></script>
</body>
</html>
