<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/cbd9dddf9b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/sub_pages.css">
  <title>
    <% if ( type == 'termsofusage' ) { %>
    terms of usage
    <% } else { %>
    about the project
    <% } %>
     - makelongurl
  </title>
  <style>
    section{
      grid-template-areas:
        "header header"
        "logo logo"
        "paragraph paragraph"
        !important;
      grid-template-rows: 1fr auto auto !important;
    }
    .far, .fab{
      font-size: 2rem;
      vertical-align: middle;
      padding: 0 0 5px 0;
      margin: 0 5px 0 0;
    }
    .encourage p:first-of-type{
      margin: 10px 0 20px 0;
    }
    h1, .encourage h2, h3{
      color: #090c9b !important;
    }
    .encourage{
      padding: 0;
      border-radius: 30px;
      background: #fff;
      color: #000;
      position: relative;
      margin-top: 0px;
      height: 100%;
      overflow: auto;
      align-self: start;
      scroll-behavior: smooth;
      width: calc(100vw - 40px);
    }
    .encourage h2{
      margin: 0;
      text-align: left;
      position: sticky;
      top: -1px;
      padding: 1.5rem 15px .7rem;
      background: #fff;
      font-size: 1.4em;
      word-wrap: break-word;
      background-color: #fff;
      z-index: 0;
    }
    .encourage h2:after{
      content: '';
      position: absolute;
      top: 0; left: 1%;
      width: 98%;
      height: 100%;
      z-index: -2;
      box-shadow: 0 16px 20px -20px #3d3d3d;
      opacity: 0;
      transform: scaleX(0);
      transition: .15s opacity .05s, .2s transform 0s;
    }
    .encourage h2.is-pinned:after{
      opacity: 1;
      transform: scaleX(1);
      transition: .05s opacity 0s, .2s transform 0s;
    }
    .encourage h1{
      margin: 15px 15px 0;
    }
    .encourage p{
      margin: 0 !important;
      padding: 0 15px 10px;
    }
  .chapter *{
    text-align: left;
  }
  .chapter h3{
    font-size: 1.3em;
    padding: 0 0 0 15px;
  }
  .chapter ul{
    margin: 10px 0 0 30px;
    padding: 0 0 10px 30px;
  }
  .chapter ul li{
    font-size: 1rem;
  }
  .chapter>ul>li>p{
    padding-left: 0;
  }
  .chapter p:first-of-type{
    margin-top: .5rem !important;
  }
  .img_hero{
    width: 100%;
    text-align: left;
    align-self: center !important;
    padding: 0 10px 10px 0;
    position: relative;
  }
  .img_hero .list_wrapper{
    overflow: auto;
    max-height: 0;
    transition: .3s max-height;
  }
  .img_hero h2{
    font-size: 1.5em;
    margin: 10px 0 5px 0;
    text-align: left;
  }
  .img_hero *{
    color: #fff !important;
  }
  .img_hero ol{
    padding-left: 2em;
    transform: translateY(-100%);
    transition: .3s transform;
  }
  .img_hero ol li{
    text-align: left;
  }
  .img_hero ol li button{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    font-size: .9em;
    transition: .2s color;
  }
  .img_hero ol li button:hover{
    color: #a3a3a3 !important;
  }
  button.toggle-nav{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    z-index: 100;
    transform: rotateX(0deg);
    transition: .3s transform;
  }
  button.toggle-nav.open{
    transform: rotateX(-180deg);
  }
  .list_wrapper.open{
    max-height: 300px;
  }
  .list_wrapper.open ol{
    transform: translateY(0);
  }
  .chapter p {
    font-size: 1rem;
  }

    @media (min-width: 48em) {
      section{
        grid-template-areas:
          "header header"
          "logo paragraph"
          "logo paragraph"
          ". ." !important;
      }
      .encourage{
        height: calc(100% - 50px);
        margin-top: 50px;
        width: auto;
        max-width: 1250px;
      }
      .encourage h1{
        margin: 30px 30px 0;
      }
      .encourage h2{
        font-size: 1.8em;
        padding: 1.5rem 30px .7rem;
      }
      .encourage p{
        margin: 0 !important;
        padding: 0 30px 10px;
      }
      /* width */
      .encourage::-webkit-scrollbar {
        width: 10px;
      }
      /* Track */
      .encourage::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      .encourage::-webkit-scrollbar-thumb {
        background: #c9c9c9;
        border-radius: 15px;
      }

      /* Handle on hover */
      .encourage::-webkit-scrollbar-thumb:hover {
        background: #efefef;
      }
      .img_hero{
        width: auto;
        min-width: 300px;
      }
      .img_hero h2{
        font-size: 2.4em;
        margin: 0 0 20px 0;
      }
      button.toggle-nav{
        display: none;
      }
      .list_wrapper{
        max-height: 300px !important;
      }
      .list_wrapper ol{
        transform: translateY(0);
      }
      .img_hero ol li button{
        font-size: 1.1em;
      }
      .chapter p {
        font-size: 1.1rem;
      }
      .chapter h3{
        padding: 0 0 0 30px;
      }
    }
  </style>
</head>
<body>
  <section class="subpage-section">
    <%- include('header'); -%>
    <div class="img_hero">
      <h2>Table of Contents</h2>
      <button class="toggle-nav"><i class="fas fa-angle-down"></i></button>
      <div class="list_wrapper">
        <ol type="I">

        </ol>
      </div>
    </div>
    <div class="encourage">
      <%- include(type); -%>
    </div>
  </section>
  <%- include('footer'); -%>
  <script>
    const listofBTNs = document.querySelector("ol");
    const chapters = document.querySelectorAll(".chapter");
    const move_btns = [];
    for (let i = 0; i < chapters.length; i++) {
      let name = chapters[i].querySelector("h2").innerHTML;
      let button = document.createElement("button");
      button.innerHTML = name;
      button.classList.add("link");
      let list_elem = document.createElement("li");
      list_elem.appendChild(button);
      listofBTNs.appendChild(list_elem);
      move_btns.push(button);
      button.addEventListener('click', moveToChapter)
    }

    function moveToChapter(e){
      let n = move_btns.indexOf(e.currentTarget)
      scrollParentToChild(document.querySelector('.encourage'), chapters[n])
    }
      function scrollParentToChild(parent, child) {
        // Where is the parent on page
        var parentRect = parent.getBoundingClientRect();
        // What can you see?
        var parentViewableArea = {
          height: parent.clientHeight,
          width: parent.clientWidth
        };

        // Where is the child
        var childRect = child.getBoundingClientRect();
        // Is the child viewable?
        var isViewable = (childRect.top == parentRect.top);
        if(listofBTNs.parentElement.classList.contains('open')){
          listofBTNs.parentElement.classList.remove('open')
          closeBTN.classList.toggle('open');
        }
        // if you can't see the child try to scroll parent
        if (!isViewable) {
          // scroll by offset relative to parent
          parent.scrollTop = (childRect.top + parent.scrollTop) - parentRect.top
        }
    }

      const closeBTN = document.querySelector("button.toggle-nav");
      closeBTN.parentElement.childNodes[1].addEventListener('click', ()=>{
        listofBTNs.parentElement.classList.toggle('open');
        closeBTN.classList.toggle('open');
      })
      closeBTN.addEventListener('click', ()=>{
        listofBTNs.parentElement.classList.toggle('open');
        closeBTN.classList.toggle('open');
      })
  </script>
</body>
</html>
