body{
  background: linear-gradient(90deg, #090c9b, #57b9ff);
}
.subpage-section{
  min-height: 0 !important;
  height: 85vh;
}
.encourage{
  justify-self: start;
}
footer{
  background: #fff;
  background: linear-gradient(180deg, rgba(255,255,255,0) 15vh, rgba(255,255,255,1) 15vh);
  color: #090c9b;
}
footer .wave{
  transform: rotate(0deg);
  top: 2px;
  bottom: -2px;
}
footer *{
  color: #090c9b !important;
}
